<!DOCTYPE html>
<html>
<head>
    <title>Jobs List</title>
</head>
<center><body>
    <h2>GIS and Web Developing Jobs</h2>
</body></center>


<style>body{

    background-color: lightgoldenrodyellow;
}
</style>
    <h2>Job details and links:</h2>
     <ul>
        {% for job in object_list %}
            <li><b>Title:</b> {{ job.title }}

                <div><b>Location:</b> {{ job.location }}</div>

                <div><b>Employer:</b> {{ job.employer }}</div>

                <b>Apply For Position:</b> <a href='{{ job.url }}' style="...">{{ job.url }}</a></li>
        {% endfor %}
     </ul>
</html>